# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  coverage-reporter: codacy/coverage-reporter@11.2.2

executors:
  python36-docker:
    docker:
      - image: circleci/python:3.6.10
    resource_class: medium

commands:
  setup_test_translation_under_coverage:
    steps:
      - checkout
      - run:
          name: "Install package"
          command: |
            pip install .[dev]
      - run:
          name: "Test translation under coverage"
          command: |
            coverage run -m pytest tests/test_en_to_vi.py

      - run:
          name: "Send coverage report"
          command: |
            coverage-reporter/send_report:
              coverage-reports: '.coverage'
              project-token: $CODACY_PROJECT_TOKEN

      
jobs:
  test_urbamt:
    executor: python36-docker
    steps:
      - setup_test_translation_under_coverage

workflows:
  # Name the workflow "welcome"
  main:
    # Run the welcome/run job in its own container
    jobs:
      - test_urbamt
